<div class="row">
    <div id="categories" class="col-lg-3 col-md-3">
        <div class="heading p-3 rounded-top bg-color"><h3>CATEGORIES</h3></div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-action">
                <a href="/products/1">Baby & Child Care</a>
            </li>

            </li>
            <li class="list-group-item list-group-item-action">
                <a href="/products/2">Diet & Nutrition</a>
            </li>

            <li class="list-group-item list-group-item-action">
                <a href="/products/3">Natural Supplement</a>
            </li>

            <li class="list-group-item list-group-item-action">
                <a href="/products/4">Personal Care</a>
            </li>
        </ul>
    </div>
    <div id="products-box" class="col-lg-9 col-md-9 pl-3">
        <div class="card rounded border">
            <div class="card-header"><strong>All Products</strong></div>
            <div class="card-body p-0">
                <div class="row mx-auto">
                    {{#if products}}
                        {{#each products}}
                            <div class="col-lg-4 col-md-6 col-sm-6 p-0">
                                <div class="card product-card rounded-0">
                                    <img src="{{image}}" alt="product_img" class="card-img mt-2 p-3">
                                    <div class="card-body">
                                        <a href="#" class="mt-3" data-toggle="modal" data-target="#product-modal"><h5 class="card-title">{{name}}</h5></a>
                                        <p class="card-price">Gia tien: {{price}}</p>
                                        <p class="card-quantity">So luong con: {{quantity}}</p>
                                        <p class="card-quantity">Mo ta: {{description}}</p>
                                        <button class="add-to-cart btn btn-success bg-color border-0">
                                            <i class="fa-solid fa-cart-plus"></i>ADD TO CART
                                        </button>
                                        <a href="#" class="add-wish-list mt-3">
                                            <i class="fa-solid fa-heart-circle-plus"></i>Add to Wish List
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>