<div id='register-box' class='row justify-content-center'>
	<div class='col-lg-6 col-md-8 border mb-4 p-4 rounded mx-3'>
		<h3 class='text-center m-color mb-4'>Create a new account</h3>
		<form method='post' action='http://localhost:3000/register' novalidate>
			<div class='form-group'>
				<label for='name'>Name</label>
				<input
					value='{{name}}'
					name='name'
					required
					class='form-control'
					type='text'
					placeholder='Name'
					id='name'
				/>
				<span class="text-danger">{{name-message}}</span>
			</div>
			<label>
				Gender
			</label>
			<div class='form-row px-4'>
				<div class='form-check col'>
					<input
						class='form-check-input'
						type='radio'
						value='Nam'
						name='gender'
						id='male'
						checked
					/>
					<label class='form-check-label' for='male'>
						Nam
					</label>
				</div>
				<div class='form-check col'>
					<input
						class='form-check-input'
						type='radio'
						name='gender'
						value='Nữ'
						id='female'
					/>
					<label class='form-check-label' for='female'>
						Nữ
					</label>
				</div>
			</div>
			<div class='form-row mt-2'>
				<div class='form-group col-md-6'>
					<label for='tel'>Phone number</label>
					<input
						value='{{tel}}'
						name='tel'
						class='form-control'
						type='tel'
						placeholder='Phone number'
						id='tel'
					/>
					<span class="text-danger">{{tel-message}}</span>
				</div>

				<div class='form-group col-md-6'>
					<label for='birthday'>Birthday:</label>
					<input
						class='form-control'
						type='date'
						id='birthday'
						name='birthday'
						value='{{birthday}}'
					/>
					<span class="text-danger">{{birthday-message}}</span>
				</div>
			</div>
			<div class='form-group'>
				<label for='address'>Address</label>
				<input
					value='{{address}}'
					name='address'
					required
					class='form-control'
					type='text'
					placeholder='Address'
					id='address'
				/>
				<span class="text-danger">{{address-message}}</span>
			</div>
			<div class='form-group'>
				<label for='username'>Username</label>
				<input
					value='{{username}}'
					name='username'
					required
					class='form-control'
					type='text'
					placeholder='Username'
					id='username'
				/>
				<span class="text-danger">{{username-message}}</span>
			</div>
			<div class='form-group'>
				<label for='password'>Password</label>
				<input
					value='{{password}}'
					name='password'
					required
					class='form-control'
					type='password'
					placeholder='Password'
					id='password'
				/>
				<span class="text-danger">{{password-message}}</span>
			</div>
			<div class='form-group'>
				<button
					type='submit'
					class='btn btn-success bg-color mt-3 border-0'
				>Register</button>
				<button
					type='reset'
					class='btn btn-outline-success mt-3 ml-1'
				>Reset</button>
			</div>
			<div class='form-group'>
				<p>Already have an account?
					<a class='m-color' href='login'>Login now.</a></p>
			</div>
		</form>
	</div>
</div>